.profile-info{
    background: #313131;
    color: #fff;
    padding-left: 20px;
    text-align: center;

img {
    padding-top: 10px; 
}

h1 {
    font-size: 48px;
}

.border-item{
    border-bottom: 2px solid;
    width: 45%;
    margin: 35px auto;
    padding-bottom: 5px;
    border-radius: 2px;
  }
.skills{
    border: 1px solid;
    height: 15px;
    margin:  10px 10px 10px 0;

}

}